# -----------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------

# Dependencies
__pycache__
venv
.venv

# Build files
build
site

# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------

# Never ignore .gitkeep files
!**/.gitkeep

# IDEs & Editors
.idea
*~